{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ .Site.BaseURL }}search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{{ end }}

{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": "{{ .Title }}",
  "image": [
    "{{ .Params.thumbnail | absURL }}"
  ],
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": [{
      "@type": "Person",
      "name": "Lucky Taorem",
      "url": "https://luckytaorem.github.io"
    }]
}
</script>
{{ end }}